#quickbar {
	background-color: rgba(68, 68, 68, 1);
	color: rgba(255, 255, 255, 1);
	height: 2em;
	position: relative;
	transition: height 0.4s;
}

#quickbar.displayed {
	height: 5.6em;
	padding: 1em 1.6em;
}

#quickbar .arrow {
    background-image: url("../images/arrow-270.png");
    background-repeat: no-repeat;
    background-size: cover;
	cursor: pointer;
	height: 16px;
	padding: 0.4em;
	position: absolute;
	right: 2.5em;
	top: 0;
	width: 16px;
}

#quickbar.displayed .arrow {
	background-image: url("../images/arrow-090.png");
}

#quickbar.displayed section {
	height: auto;
	opacity: 1;
}

#quickbar section {
	float: left;
	height: 0;
	opacity: 0;
	width: 95%;
}

#quickbar section.recipient {
	margin-bottom: 1em;
}

#quickbar section.group {
	clear: both;
}

#quickbar section input.new {
	color: rgba(0, 0, 0, 1);
	font-size: 1em;
	margin-right: 0.8em;
	width: 20em;
}

#quickbar section input.new:-moz-placeholder {
	color: rgba(188, 188, 188, 1);
}

#quickbar section select.new {
	color: rgba(0, 0, 0, 1);
	font-size: 1em;
	height: 2.2em;
	margin: 0 0.8em 0 0.4em;
	padding-top: 0.2em;
	position: relative;
	top: -1px;
	width: 16em;
}

#quickbar section button {
	border-radius: 20px;
	font-size: 1em;
}

#quickbar section .message {
	color: rgba(255, 255, 255, 1);
	margin-left: 0.4em;
	opacity: 0;
	transition: opacity 0.4s;
}

#quickbar section .message.displayed {
	opacity: 1;
}

#quickbar section .message.fading {
	opacity: 0;
	transition: opacity 0.4s ease 4s;
}

#summaryCounts {
	clear: both;
	margin: 1em 0 0 1.2em;
	padding: 0;
	position: relative;
}

#summaryCounts .summary {
	margin: 0;
	padding: 0;
}

#summaryCounts .summary .single {
	display: none;
}

#summaryCounts .summary .multiple {
	display: inline-block;
}

#summaryCounts .summary.single .single {
	display: inline-block;
}

#summaryCounts .summary.single .multiple {
	display: none;
}

#summaryCounts .summary .count {
	display: inline-block;
	text-align: right;
	width: 2.4em;
}

#summaryCounts .print {
	background-image: url("../images/printer.png");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	float: right;
	height: 2em;
	position: absolute;
	right: 2.2em;
	top: 1em;
	width: 2em;
}